.login-header {
  width: 100wh;
  height: 100vh;
  background: linear-gradient(to right, #000d07, #090e17);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.right-header,
.left-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-header {
  border-left: 2px solid #fff;
}

.right-header {
  background-image: url("/public/images/img2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.1;
}

.link {
  position: absolute;
  background: #e1eaeb;
  color: #7f7c7c;
  left: 0px;
  height: 20px;
  width: 440px;
  padding: 17px 30px 20px 30px;
  font-size: 16px;
  text-align: right;
  border-top: 1px solid #dbe5e8;
  border-radius: 0 0 5px 5px;
}

a {
  text-decoration: none;
}

a.links {
  display: none;
}

input {
  outline: none;
}

input:not([type="checkbox"]) {
  width: 95%;
  margin-top: 4px;
  padding: 10px;
  border: 1px solid #b2b2b2;
  border-radius: 3px;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  transition: all 0.2s linear;
}

.content {
  width: 500px;
  min-height: 560px;
  margin: 0px auto;
  position: relative;
}

h1 {
  font-size: 48px;
  color: #d9d9d9;
  padding: 2px 0 10px 0;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

p {
  margin-bottom: 15px;
}

.content p:first-child {
  margin: 0px;
}

label {
  color: #405c60;
  position: relative;
}

::-webkit-input-placeholder {
  color: #bebcbc;
  font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #bebcbc;
  font-style: italic;
}

input[type="submit"] {
  width: 100% !important;
  cursor: pointer;
  background: rgb(61, 157, 179);
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  text-shadow: 0 1px 1px #333;
  border-radius: 5px;
  transition: all 0.2s linear;
}

input[type="submit"]:hover {
  background: #4ab3c6;
}

.link a {
  font-weight: bold;
  background: #f7f8f1;
  padding: 6px;
  color: rgb(29, 162, 193);
  margin-left: 10px;
  border: 1px solid #cbd518;
  border-radius: 4px;
}

.link a:hover {
  color: #39bfd7;
  background: #f7f7f7;
  border: 1px solid #4ab3c6;
}

#login {
  position: absolute;
  top: 0px;
  width: 88%;
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  border-radius: 5px;
}

.content #login {
  display: block;
}

#login p{
  margin: 30px 0;
}
.forgotPassword{
  text-transform: capitalize;
  font-size:14px;
  text-decoration: none;
  color:#d9d9d9;
}
.forgotPassword a{
  color:white;
}

@media only screen and (max-width: 600px) {
  .login-header {
    display: flex;
  }
  .right-header {
    display: none;
  }
  .left-header {
    width: 100%;
  }
  .content {
    max-width: 500px;
    width: 100%;
  }
  #login p{
    margin: 20px 0;
  }
}
