*{
    margin: 0;
    padding: 0;
}
.nav-bar {
    background-image: linear-gradient(to right,#00331a, #000f07);
    color: white;
    height: 3em;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

li {
  display: inline-block;
  margin: 10px;
}

li:hover {
  transform: scale(1.4);
  border-bottom: 1px solid #fff;
}
