.nav-bar {
  color: #d1c1e0;
  min-height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #d1c1e0;
  position: relative;
  z-index: 6;
}

.logo {
  margin-left: 30px;
}

.logo-img {
  height: 100px;
  width: 200px;
}

li {
  list-style: none;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.links-nav-bar {
  text-decoration: none;
  color: #d1c1e0;
  text-transform: uppercase;
  margin: 20px;
  padding: 5px 14px;
  font-size: 18px;
}

.links-nav-bar:hover {
  transform: scale(1.4);
  border-bottom: 1px solid #a283c0;
  color: #a283c0;
  transition: 0.1s ease;
  border-radius: 5px;
}

/* CHECKBOX HACK */
.nav-links input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  margin-right: 10px;
  color: #d1c1e0;
}
@media (max-width: 1080px) {
  .links-nav-bar {
    margin: 5px;
    padding: 5px 0px;
  }
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .logo-img {
    height: 80px;
    width: 160px;
  }

  .menu {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    text-align: left;
    padding: 40px 0;
  }

  .menu li:hover {
    display: inline-block;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  .nav-links input[type="checkbox"]:checked ~ .menu {
    display: block;
    border-bottom: 0.5px solid #d1c1e0;
  }

  .hamburger {
    display: block;
  }
  .links-nav-bar {
    margin: 20px;
    padding: 5px 14px;
  }
}
